<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/board_main.css">
    <title>main</title>
</head>
<body>
    <section class="notice">
        <div class="page-title">
            <div class="container">
                <h4 th:text="${session.name + ' 님 환영합니다!'}"></h4>
                <a href = "/member/update"><button class="btn-profile">회원정보 수정</button></a>
                <a href = "/member/logout"><button class="btn-profile">로그아웃</button></a><br><br>
                <h3> 나의 내면일지 </h3>
            </div>
        </div>

        <!-- board seach area -->
        <div id="board-search">
            <div class="container">
                <div class="search-window">
                    <form action="">
                        <div class="search-wrap">
                            <label for="search" class="blind">공지사항 내용 검색</label>
                            <input id="search" type="search" name="" placeholder="검색어를 입력해주세요." value="">
                            <button type="submit" class="btn btn-dark btn-search">검색</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- board list area -->
        <div id="board-list">
            <div class="container">
                <table class="board-table">
                    <thead>
                    <tr>
                        <th scope="col" class="th-num">번호</th>
                        <th scope="col" class="th-title">제목</th>
                        <th scope="col" class="th-date">등록일</th>
                        <th scope="col" class="th-title">조회수</th>
                        <th scope="col" class="th-title">글쓴이</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="board: ${boardList}">
                            <td th:text="${board.id}"></td>
                            <td><a th:href="@{|/board/${board.id}|}" th:text="${board.boardTitle}"></a></td>
                            <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td th:text="${board.boardHits}"></td>
                        </tr>
                    </tbody>
                </table>
                
                <form action = "/board/write" method = "get">
                    <button class = "btn-write">글쓰기</button>
                </form>
            </div>
        </div>
</section>
</body>
</html>